// Constraints file for the tart radio module FPGA
//
// Author: Tim Molteno tim@elec.ac.nz
// Copyright 2022.
//
// Part Number: GW1N-LV1QN48C6/I5
//
// Refer the the radio module schematic for details of pinouts.

IO_LOC "SYS_CLK" 35; // Main clock 16.3767 MHz

IO_LOC "R0_D0" 39; // SER_DATA
IO_LOC "R0_D1" 40; // CLK_SER
IO_LOC "R0_D2" 41; // TIME_SYNC
IO_LOC "R0_D3" 42; // DATA_SYNC

IO_LOC "R1_D0" 43;
IO_LOC "R1_D1" 44;
IO_LOC "R1_D2" 45;
IO_LOC "R1_D3" 46;

IO_LOC "DATA_OUT" 17;  // Serialized data out

IO_LOC "SYNC" 22;
IO_LOC "MISC" 23;

IO_LOC "CLK_OUT1" 38;  // radio 1 clock
IO_LOC "CLK_OUT2" 13;  // radio 2 clock
IO_LOC "CLK_OUT3" 24;  // extclock to uC
IO_LOC "CLK_OUT4" 15;  // unused


IO_PORT "DATA_CLK" IO_TYPE=LVCMOS33;

IO_PORT "R1_D0" IO_TYPE=LVCMOS33;
IO_PORT "R1_D1" IO_TYPE=LVCMOS33;
IO_PORT "R1_D2" IO_TYPE=LVCMOS33;
IO_PORT "R1_D3" IO_TYPE=LVCMOS33;

IO_PORT "R0_D0" IO_TYPE=LVCMOS33;
IO_PORT "R0_D1" IO_TYPE=LVCMOS33;
IO_PORT "R0_D2" IO_TYPE=LVCMOS33;
IO_PORT "R0_D3" IO_TYPE=LVCMOS33;


IO_PORT "DATA_OUT" IO_TYPE=LVCMOS33;

IO_PORT "SYNC" IO_TYPE=LVCMOS33;
IO_PORT "MISC" IO_TYPE=LVCMOS33;

IO_PORT "CLK_OUT1" IO_TYPE=LVCMOS33;
IO_PORT "CLK_OUT2" IO_TYPE=LVCMOS33;
IO_PORT "CLK_OUT3" IO_TYPE=LVCMOS33;
