// Constraints file for the tart radio module FPGA
//
// Author: Tim Molteno tim@elec.ac.nz
// Copyright 2022.
//
// Part Number: GW1N-LV1QN48C6/I5
//
// Refer the the radio module schematic for details of pinouts.

IO_LOC "SYS_CLK" 35; // Main clock 16.3767 MHz

IO_LOC "R1_I[0]" 39;
IO_LOC "R1_I[1]" 40;
IO_LOC "R1_Q[0]" 41;
IO_LOC "R1_Q[1]" 42;

IO_LOC "R0_I[0]" 43;
IO_LOC "R0_I[1]" 44;
IO_LOC "R0_Q[0]" 45;
IO_LOC "R0_Q[1]" 46;

IO_LOC "DATA_OUT" 17;  // Serialized data out

IO_LOC "SYNC" 22;
IO_LOC "MISC" 23;

IO_LOC "CLK_OUT1" 38;  // radio 1 clock
IO_LOC "CLK_OUT2" 13;  // radio 2 clock
IO_LOC "CLK_OUT3" 24;  // extclock to uC
IO_LOC "CLK_OUT4" 15;  // unused


IO_PORT "DATA_CLK" IO_TYPE=LVCMOS33;

IO_PORT "R1_I[0]" IO_TYPE=LVCMOS33;
IO_PORT "R1_I[1]" IO_TYPE=LVCMOS33;
IO_PORT "R1_Q[0]" IO_TYPE=LVCMOS33;
IO_PORT "R1_Q[1]" IO_TYPE=LVCMOS33;

IO_PORT "R0_I[0]" IO_TYPE=LVCMOS33;
IO_PORT "R0_I[1]" IO_TYPE=LVCMOS33;
IO_PORT "R0_Q[0]" IO_TYPE=LVCMOS33;
IO_PORT "R0_Q[1]" IO_TYPE=LVCMOS33;


IO_PORT "DATA_OUT" IO_TYPE=LVCMOS33;

IO_PORT "SYNC" IO_TYPE=LVCMOS33;
IO_PORT "MISC" IO_TYPE=LVCMOS33;

IO_PORT "CLK_OUT1" IO_TYPE=LVCMOS33;
IO_PORT "CLK_OUT2" IO_TYPE=LVCMOS33;
IO_PORT "CLK_OUT3" IO_TYPE=LVCMOS33;
